@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.header{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

html {
    scroll-behavior: smooth;
}

#navbar{
    background-color:#271E0D;
    position: sticky;
    overflow: hidden;
    top : 0;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navtext{
    float: right;
    padding: 14px 16px;
}

.navtext a:hover{
    background-color:rgb(170,230,100);
    color: black;
}


.navtext a{
    text-decoration: none;
    color:  #f2f2f2;
    padding: 14px 16px;
}

.navtext:first-child{
    background-color:rgb(170,230,100);
    float: left;
    color: black;
}



#main{
    margin-right: 0px;
    width: 100vw;
    height:auto;
}

body{
    overflow-x: hidden;
    margin:0;
    padding:o;
    background-color: #ABA259;
}



.header{
    color: black;
    text-align: center;
}

p{
    color:#3B3B47;
    text-align: justify;
    margin-right: 2%;
    margin-left:2%;
    font-size: 18px;
}

.image{
    margin-left: 10px;
    margin-right: auto;
    width:600px;
    height:400px;
    border-radius: 50%;
}

#div1{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.albumslide{
    position: relative;
    margin: auto;
}

.albumslice{
    display: none;
    text-align: center;
}

.ante, .prox{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    margin-top: -22px;
    padding: 8px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prox{
    right: 0;
}

.ante:hover, .prox:hover {
    background-color: #3B3B47;
}

.albumtext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 4px;
    bottom: 4px;
    width: 392px;
    margin:auto;
    position: relative;
    background-color:rgb(0,0,0,0.4);
}

.albumnumber{
    color:black;
    font-size: 12px;
    padding: 8px 12px;
    margin:auto;
    position: relative;
    top: 0;
}

#contato{ 
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

#rodape{
    background-color:#271E0D;
    position: absolute;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
}

.rodapetext{
    float: right;
    padding: 14px 16px;   
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    bottom: 0;
}

.rodapetext:first-child{
    float:left;
}

.rodapetext a{
    font-size: 24px;
    text-decoration: none;
    padding:14px 16px;
    cursor: pointer;
    color: #f2f2f2;
}

.rodapetext a:hover{
    background-color:rgb(170,230,100) ;
    color:black;
}